In [1]:
#Lists
#An Empty List
list1=[]

In [2]:
#List of Integers
list2=[3,4,5,6,7,8,9,0]
list2

[3, 4, 5, 6, 7, 8, 9, 0]

In [3]:
#List of strings
list3=['bmw','venza','benz','camry']
list3

['bmw', 'venza', 'benz', 'camry']

In [4]:
#LIst with mixed data types
list_data=['Josh',10,12,'Car']
list_data

['Josh', 10, 12, 'Car']

In [5]:
#Nested List
list_nest=[50,60,[3,4,5],'sheep',['cat','rat']]
list_nest

[50, 60, [3, 4, 5], 'sheep', ['cat', 'rat']]

In [6]:
list_data.append(['bike',100])
list_data

['Josh', 10, 12, 'Car', ['bike', 100]]

In [7]:
#Indexing
list_data

['Josh', 10, 12, 'Car', ['bike', 100]]

In [8]:
list_data[4]

['bike', 100]

In [9]:
list_data[0]

'Josh'

In [10]:
list_data[0][1]

'o'

In [11]:
list_data[4][0]

'bike'

In [12]:
#Negative Indexing
list_data[-5]

'Josh'

In [13]:
list_data[-1]

['bike', 100]

In [14]:
#Slicing
list5=[10,20,30,40,50,60,70,80,90,100]
list5[2:5]

[30, 40, 50]

In [15]:
list5[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [16]:
list5[6:]

[70, 80, 90, 100]

In [17]:
list5[:6]

[10, 20, 30, 40, 50, 60]

In [18]:
list5[:-5]

[10, 20, 30, 40, 50]

In [19]:
list5[-5:]

[60, 70, 80, 90, 100]

In [21]:
#Changing the elements in a List
odd_num=[2,5,7,9,11,13]
odd_num[0]=3
odd_num

[3, 5, 7, 9, 11, 13]

In [22]:
odd_num[1:4]=[15,17,19]
odd_num

[3, 15, 17, 19, 11, 13]

In [20]:
#Using Helper methods on Lists
#Append-Used to add elements to the end of the list
list_data.append(['bike',100])
list_data

['Josh', 10, 12, 'Car', ['bike', 100], ['bike', 100]]

In [23]:
#Extend-Used to increase a list 
num1=[100,200,300,400,500,600,700]
num1.extend([800,900])
num1

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [27]:
#Insert- This method insert an element to the list at the specified index
num1.insert(3,'Bag')
num1

[100, 200, 300, 'Bag', 'Bag', 'Bag', 400, 500, 600, 700, 800, 900]

In [28]:
num2=[11,12,13,14]
num2.insert(2,'Car')
num2

[11, 12, 'Car', 13, 14]

In [29]:
#Remove-This method removes an element from the list
num2

[11, 12, 'Car', 13, 14]

In [33]:
num2.remove(14)
num2

[11, 12, 'Car', 13]

In [35]:
num3=['benz','venza','audi','505','royce']
num3.remove('505')
num3

['benz', 'venza', 'audi', 'royce']

In [2]:
#Pop-This method returns an item that has been removed from the list
lang=['Python','Java','C++','Fortran','Javascript']
lang.pop(3)

'Fortran'

In [37]:
lang.pop(3)

'Javascript'

In [39]:
lang

['Python', 'Java', 'C++']

In [41]:
#Clear-This method removes all the items from the list
my_list=[1,2,3,4,5,6,7,8,9]
my_list.clear()
my_list

[]

In [44]:
#Index-This method returns the index of the specified element
my_list2=['car','bikes','trycycles','ships','planes']
my_list2.index('ships')

3

In [46]:
#Count-This tells us the number of times an elemnt occur in a list
my_list3=[4,4,5,6,7,7,7,8,9,9]
my_list3.count(7)

3

In [47]:
my_list3.count(9)

2

In [49]:
#Sort-This arranges the list in ascending or descending order
#Ascending
vowels=['a','i','e','u','o']
vowels.sort()
vowels

['a', 'e', 'i', 'o', 'u']

In [50]:
#Descending
vowels.sort(reverse=True)
vowels

['u', 'o', 'i', 'e', 'a']

In [51]:
#Alternatively
sorted(vowels)

['a', 'e', 'i', 'o', 'u']

In [52]:
sorted(vowels,reverse=True)

['u', 'o', 'i', 'e', 'a']

In [61]:
#Reverse-This reverse the items in the list
systems=['mac','windows','linux','dell','hp','lenovo']
systems.reverse()
systems

['lenovo', 'hp', 'dell', 'linux', 'windows', 'mac']

In [62]:
systems

['lenovo', 'hp', 'dell', 'linux', 'windows', 'mac']

In [63]:
systems[::-1]

['mac', 'windows', 'linux', 'dell', 'hp', 'lenovo']

In [64]:
#Accessing elements in reversed order
for i in reversed(systems):
    print(i)

mac
windows
linux
dell
hp
lenovo

In [69]:
#Copy-This returns a shalow copy of the list
animals=['cats','rats','dogs','goats','rabbits']
new_list=animals.copy()
print('copied list:',new_list)

copied list: ['cats', 'rats', 'dogs', 'goats', 'rabbits']

In [70]:
#Delete-This deletes an item from the list
animals

['cats', 'rats', 'dogs', 'goats', 'rabbits']

In [72]:
del animals[2]
animals

['cats', 'rats', 'rabbits']

In [73]:
numbers=[10,15,28,36,47,39,28]
del numbers[1:4]
numbers

[10, 47, 39, 28]

In [75]:
#Ways of writing codes
values=[]
for x in range(10):
    values.append(2**x)
values

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [76]:
#List membership test
letters=['a','b','c','d']
print('e' in letters)

False

In [77]:
print('a' in letters)

True

In [78]:
print('f' not in letters)

True

In [79]:
#Iterating through a list
for fruits in ['banana','apple','mango','pineapple']:
    print('I love', fruits)

I love banana
I love apple
I love mango
I love pineapple

In [80]:
#Multiplying a list with a scalar
my_num=[2,4,6,8,10]
my_num*2

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [81]:
my_num2=[1,3,5,7,9]
my_num+my_num2

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [82]:
#Tuples
#Empty Tuple
var=()
var

()

In [84]:
#Tuple with integers
values1=(2,5,8,5)
values1

(2, 5, 8, 5)

In [85]:
#Tuple with mixed Data types
values2=(1,3,'big','small',7.5,8)
values2

(1, 3, 'big', 'small', 7.5, 8)

In [86]:
#Nested Tuples
values3=(10,20,[2,3,4],(8,9,10))
values3

(10, 20, [2, 3, 4], (8, 9, 10))

In [87]:
#Tuples without parenthesis(Tuple Packing)
values4=5,10,'cars','houses'
values4

(5, 10, 'cars', 'houses')

In [88]:
#Tuple Unpacking
a,b,c,d=values4
a

5

In [89]:
d

'houses'

In [91]:
#Tuple with one element should have a comma at the end
var1=('Hello',)
var2=('Hello')
print(type(var1))
print(type(var2))

<class 'tuple'>
<class 'str'>

In [98]:
len(values1)

4

In [92]:
#Tuple Indexing
letters=('a','b','c','d','e')
letters[3]

'd'

In [94]:
#Nested Indexing
data1=(10,20,(3,4,5),[6,7,8])
data1[2][1]

4

In [95]:
data1[3][0]

6

In [96]:
#Negative Indexing
letters[-1]

'e'

In [97]:
letters[-3]

'c'

In [99]:
#Tuple Slicing
tup_values=('a','b','c','d','e','f','g','h')
tup_values[2:5]

('c', 'd', 'e')

In [100]:
tup_values[:]

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')

In [101]:
tup_values[:-5]

('a', 'b', 'c')

In [102]:
tup_values[-6:]

('c', 'd', 'e', 'f', 'g', 'h')

In [103]:
#Changing values of a list inside a tuple
tup_list=(4, 2, 3, [6, 5])
tup_list[3][1]=12
tup_list

(4, 2, 3, [6, 12])

In [104]:
#Concatenating Tuples
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [105]:
#Increasing Tuple
print(('repeat',)*3)

('repeat', 'repeat', 'repeat')

In [106]:
#Deleting Tuples
#Note that we cant delete any item in a tuple but we can delete the whole tuple
del tup_list

In [109]:
#Methods used in Tuple
#There are only two methods used in tuple
#Count
tup=('a','p','p','l','e')
tup.count('p')

2

In [110]:
#Index
tup.index('l')

3

In [111]:
#Tuple membership test
print('p' in tup)

True

In [112]:
print('b' in tup)

False

In [113]:
print('c' not in tup)

True

In [114]:
#Iterating through a Tuple
for name in ('John','Tosin','Vanessa','Tobi','Akin'):
    print('Hello',name)

Hello John
Hello Tosin
Hello Vanessa
Hello Tobi
Hello Akin

In [115]:
#Dictionaries
#Empty Dictionary
dict1={}
dict1

{}

In [116]:
#Dictionary with Integer Keys
dict2={1:'apple',2:'mango'}
dict2

{1: 'apple', 2: 'mango'}

In [117]:
#Dictionary with mixed keys
dict3={'name':'john',1:[1,2,4]}
dict3

{'name': 'john', 1: [1, 2, 4]}

In [121]:
#Using the dict()
dict4=dict([(1,'cake'),(2,'cookie')])
dict4

{1: 'cake', 2: 'cookie'}

In [123]:
#Accessing elements in a Dictionary
#To access elementsin dictionaries, we use the key inside square brackets[] or the get() method
my_dict1={'name':'John','age':30}
my_dict1['name']

'John'

In [124]:
my_dict1['age']

30

In [125]:
my_dict1.get('name')

'John'

In [126]:
my_dict1.get('age')

30

In [127]:
#We can change the value of existing items or add new items because dictionaries are mutable
my_dict1['age']=35
my_dict1

{'name': 'John', 'age': 35}

In [128]:
my_dict1['address']='Downtown'
my_dict1

{'name': 'John', 'age': 35, 'address': 'Downtown'}

In [129]:
#Common Methods used in Dictionaries
#Pop-This returns an item that has been removed
my_dict2={1:2,2:4,3:9,4:16,5:25}
my_dict2.pop(3)

9

In [130]:
my_dict2

{1: 2, 2: 4, 4: 16, 5: 25}

In [131]:
#Popitem-This removes an arbitrary item and returns it in the output
my_dict2.popitem()

(5, 25)

In [132]:
my_dict2

{1: 2, 2: 4, 4: 16}

In [134]:
#Clear-This removes all the items in the dictionary
my_dict2.clear()
my_dict2

{}

In [139]:
#Items-This simply returns the view object of a Tuple pair
sales={'apple':2,'orange':4,'grapes':6}
sales.items()

dict_items([('apple', 2), ('orange', 4), ('grapes', 6)])

In [143]:
#We can also delete or modify a dictionary
del[sales['apple']]
sales.items()

dict_items([('orange', 4)])

In [145]:
#Keys-This displays a view object of all list of keys in the Dictionary
my_dict1.keys()

dict_keys(['name', 'age', 'address'])

In [147]:
#Update-We can update a dictionary by using a key:value pair or with the key:value pair from another dictionary
my_dict1.update({'salary':3500})
my_dict1

{'name': 'John', 'age': 35, 'address': 'Downtown', 'salary': 3500}

In [150]:
d1={1: "one", 2: "three"}
d2 = {2: "two"}
d1.update(d2)
d1
d3={3:'three'}
d1.update(d3)
d1

{1: 'one', 2: 'two', 3: 'three'}

In [135]:
#Del-This deletes the Dictionary
del my_dict2

In [137]:
#Note that there are many other Dictionary methods.

In [151]:
#Iterating through a dictionary
squares={}
for x in range(6):
    squares[x]=x*x
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [153]:
for i in squares:
    print(squares[i])

0
1
4
9
16
25

In [154]:
#Memebrship Test-This only applies to keys
print(1 in squares)

True

In [155]:
print(6 in squares)

False

In [157]:
print(7 not in squares)

True

In [ ]:
#We also have in built functions in dictionaries like all(), any(), len(), sorted(). You can research them.