In [1]:
print("Hello World")

Hello World

In [2]:
A="Hello World"
print(type(A))

<class 'str'>

In [3]:
B=10
print(type(B))

<class 'int'>

In [4]:
C=7.5
print(type(C))

<class 'float'>

In [5]:
#Note that we can use either a single quote or double quotes for strings
#But for strings that has apostrophe, we use the double quotes.
strings= "It's a double quote string"
strings

"It's a double quote string"

In [6]:
D=30
E=40
D+E

70

In [8]:
#joining strings
str1="abc"
str2="55"
print (str1+str2)

abc55

In [3]:
#We can assign two or more variables as shown
n1,n2=3.5,7
print(n1)
print(n2)

3.5
7

In [4]:
#We can as well swap variables
n1,n2=n2,n1
print(n1)

7

In [5]:
#Python uses the DMAS rule
result=3+4/2*5
result

13.0

In [10]:
#module operator
rem=5%2
rem

1

In [11]:
#Power Operator
D**2

900

In [8]:
#Multiplication Operator with strings
nstr="abc"
ans=nstr*4
print(ans)
print(len(ans))

abcabcabcabc
12

In [9]:
#Formatting a string
topic="Python Fundamentals"
print("%s is a new topic"%topic)

Python Fundamentals is a new topic

In [11]:
name="Jaykay"
name.upper()

'JAYKAY'

In [14]:
name.lower()

'jaykay'

In [15]:
name.capitalize()

'Jaykay'

In [17]:
name.index("k")

3

In [12]:
#We can slice our strings 
name[1:4]

'ayk'

In [13]:
#We can also slice and skip steps
name[1:5:2]

'ak'

In [19]:
#Splitting Strings
string="Joshua Gbegudu"
string.split(" ")

['Joshua', 'Gbegudu']

In [20]:
string2="Joshua-Gbegudu"
string2.split("-")

['Joshua', 'Gbegudu']

In [21]:
#Splitting without delimeters(parameters)
string3="This is my Python"
string3.split()

['This', 'is', 'my', 'Python']

In [24]:
#Joining Strings
sofa=["do","re","mi"]
":".join(sofa)

'do:re:mi'

In [23]:
string

'Joshua Gbegudu'

In [25]:
myname=["Joshua","Gbegudu"]
"/".join(myname)

'Joshua/Gbegudu'