In [2]:
#Creating Series
#From tuples
import numpy as np
import pandas as pd
my_tuple=(1,2,3,4)
data1=pd.Series(my_tuple)
data1

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
my_tuple2=(10,20,30,40)
labels=['a','b','c','d']
data2=pd.Series(data=my_tuple2,index=labels)
data2

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
#From List
my_list=[100,200,300,400]
data3=pd.Series(my_list)
data3

0    100
1    200
2    300
3    400
dtype: int64

In [6]:
data4=pd.Series(data=my_list,index=labels)
data4

a    100
b    200
c    300
d    400
dtype: int64

In [7]:
my_list2=['p','r','o','g','r','a','m']
names=['john','kate','tosin','akin','kunbi','tolu','tobi']
data_series1=pd.Series(data=my_list2,index=names)
data_series1

john     p
kate     r
tosin    o
akin     g
kunbi    r
tolu     a
tobi     m
dtype: object

In [9]:
#From Dictionary
dict1={'a':10,'b':20,'c':30,'d':40}
dataset2=pd.Series(dict1)
dataset2

a    10
b    20
c    30
d    40
dtype: int64

In [10]:
dict2={1:'python',2:'sql',3:'java',4:'html'}
dataset3=pd.Series(dict2)
dataset3

1    python
2       sql
3      java
4      html
dtype: object

In [11]:
#From NumPy Array
my_arr=np.array(my_list)
dataset4=pd.Series(my_arr)
dataset4

0    100
1    200
2    300
3    400
dtype: int64

In [13]:
my_arr2=np.array(['p','y','t','h','o','n'])
my_series=pd.Series(my_arr2,[1,2,3,4,5,6])
my_series

1    p
2    y
3    t
4    h
5    o
6    n
dtype: object

In [14]:
#Accessing Elements in Series
#Using Position
my_series[:4]

1    p
2    y
3    t
4    h
dtype: object

In [15]:
dataset1=np.array(['p','r','o','g','r','a','m','m','e','r','s'])
my_series2=pd.Series(dataset1)
my_series2

0     p
1     r
2     o
3     g
4     r
5     a
6     m
7     m
8     e
9     r
10    s
dtype: object

In [16]:
#Indexing and Slicing
my_series2[0]

'p'

In [17]:
my_series2[10]

's'

In [18]:
my_series[3:6]

4    h
5    o
6    n
dtype: object

In [19]:
#Accessing elements
#Using Labels
my_series.loc[3:6]

3    t
4    h
5    o
6    n
dtype: object

In [20]:
my_series.loc[4]

'h'

In [21]:
#Using Index
my_series.iloc[3:6]

4    h
5    o
6    n
dtype: object

In [23]:
#Binary Operation on Series
bi_series1=pd.Series([5,2,3,7],['a','b','c','d'])
bi_series1

a    5
b    2
c    3
d    7
dtype: int64

In [24]:
bi_series2=pd.Series([1,6,4,9],['a','b','d','e'])
bi_series2

a    1
b    6
d    4
e    9
dtype: int64

In [25]:
#Adding two series
bi_series1.add(bi_series2,fill_value=0)

a     6.0
b     8.0
c     3.0
d    11.0
e     9.0
dtype: float64

In [26]:
#Subtraction
bi_series1.sub(bi_series2,fill_value=0)

a    4.0
b   -4.0
c    3.0
d    3.0
e   -9.0
dtype: float64

In [29]:
#Concatenation in Series
ser_data1=pd.Series([100,200,300],index=['A','B','C'])
ser_data2=pd.Series([400,500],index=['D','E'])
con_dataset=pd.concat([ser_data1,ser_data2]) #This automatically concatenate along rows
con_dataset

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [30]:
con_dataset2=pd.concat([ser_data1,ser_data2],axis=1)#This concatenates along columns.
con_dataset2

       0      1
A  100.0    NaN
B  200.0    NaN
C  300.0    NaN
D    NaN  400.0
E    NaN  500.0

In [86]:
series1=pd.Series([5,10,15],['A','B','C'])
series2=pd.Series([15,20,25],['B','C','D'])
print(series1)
print(series2)

A     5
B    10
C    15
dtype: int64
B    15
C    20
D    25
dtype: int64

In [87]:
series3=pd.concat([series1,series2],keys=['k1','k2'])
series3

k1  A     5
    B    10
    C    15
k2  B    15
    C    20
    D    25
dtype: int64

In [89]:
#Stacking and Unstacking in Series
#Unstacking
data_df1=series3.unstack()
data_df1

      A     B     C     D
k1  5.0  10.0  15.0   NaN
k2  NaN  15.0  20.0  25.0

In [90]:
#Stacking
data_df2=data_df1.stack()
data_df2

k1  A     5.0
    B    10.0
    C    15.0
k2  B    15.0
    C    20.0
    D    25.0
dtype: float64

In [94]:
data_df2=data_df1.stack(dropna=False)
data_df2

k1  A     5.0
    B    10.0
    C    15.0
    D     NaN
k2  A     NaN
    B    15.0
    C    20.0
    D    25.0
dtype: float64

In [31]:
#Droping Entries in Series
cars=pd.Series(['BMW','Benz','Audi'],index=['a','b','c'])
cars

a     BMW
b    Benz
c    Audi
dtype: object

In [32]:
cars=cars.drop(['a'])
cars

b    Benz
c    Audi
dtype: object

In [35]:
#Droping Null Values in Series
null_series=pd.Series(['a','b','c','d',np.nan])
null_series

0      a
1      b
2      c
3      d
4    NaN
dtype: object

In [45]:
#Checking for null values
index2=['benz','toyota','camry','audi']
rev2=[100,400,300,500]
cabs_rev2=pd.Series(rev2,index2)
cabs_rev2

benz      100
toyota    400
camry     300
audi      500
dtype: int64

In [46]:
pd.isnull(cabs_rev2)

benz      False
toyota    False
camry     False
audi      False
dtype: bool

In [47]:
pd.notnull(null_series)

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [36]:
#We can validate this by
null_series.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [48]:
null_series.notnull()

0     True
1     True
2     True
3     True
4    False
dtype: bool

In [37]:
null_series.dropna()

0    a
1    b
2    c
3    d
dtype: object

In [38]:
cabs_rev=pd.Series([20,30,80,40],['ola','uber','taxify','opay'])
cabs_rev

ola       20
uber      30
taxify    80
opay      40
dtype: int64

In [39]:
cabs_rev['uber']

30

In [43]:
#Using Boolean Conditions
print ('taxify' in cabs_rev)
print('jaykay' in cabs_rev)
print('benz' not in cabs_rev)

True
False
True

In [44]:
#We can also convert back to a dictionary
cabs_dict=cabs_rev.to_dict()
cabs_dict

{'ola': 20, 'uber': 30, 'taxify': 80, 'opay': 40}

In [49]:
#Assigning names to Columns
cabs_rev.name='Company revenue'
cabs_rev

ola       20
uber      30
taxify    80
opay      40
Name: Company revenue, dtype: int64

In [50]:
cabs_rev.index.name='Company Name'
cabs_rev

Company Name
ola       20
uber      30
taxify    80
opay      40
Name: Company revenue, dtype: int64

In [51]:
#Sorting and Ranking in Series
series_data=pd.Series([100,300,250,400],['a','b','c','d'])
series_data

a    100
b    300
c    250
d    400
dtype: int64

In [52]:
#Sorting by index
series_data.sort_index()

a    100
b    300
c    250
d    400
dtype: int64

In [53]:
#Sorting by values
series_data.sort_values()

a    100
c    250
b    300
d    400
dtype: int64

In [54]:
#Ranking
series_data.rank()

a    1.0
b    3.0
c    2.0
d    4.0
dtype: float64

In [64]:
#Reindexing in Series
series_num=pd.Series([10,20,30,40],['a','b','c','d'])
series_num

a    10
b    20
c    30
d    40
dtype: int64

In [69]:
#Using Reindex method
series_num=series_num.reindex(['a','b','c','d','e','f'])
series_num

a    10.0
b    20.0
c    30.0
d    40.0
e     NaN
f     NaN
dtype: float64

In [70]:
#Using the fillvalue 
series_num=series_num.reindex(['a','b','c','d','e','f','g','h'],fill_value=15.5)
series_num

a    10.0
b    20.0
c    30.0
d    40.0
e     NaN
f     NaN
g    15.5
h    15.5
dtype: float64

In [71]:
#Using the forward fill method
cars_data=pd.Series(['audi','bmw','benz'],[2,4,8])
cars_data

2    audi
4     bmw
8    benz
dtype: object

In [79]:
ranger=range(13)
print(ranger)

range(0, 13)

In [80]:
cars_data=cars_data.reindex(ranger,method='ffill')
cars_data

0      NaN
1      NaN
2     audi
3     audi
4      bmw
5      bmw
6      bmw
7      bmw
8     benz
9     benz
10    benz
11    benz
12    benz
dtype: object

In [81]:
#Replacing(Substituting) in Series
series_dataset=pd.Series([10,20,30,20,50,40,10])
series_dataset

0    10
1    20
2    30
3    20
4    50
5    40
6    10
dtype: int64

In [82]:
series_dataset.replace(50,np.nan)

0    10.0
1    20.0
2    30.0
3    20.0
4     NaN
5    40.0
6    10.0
dtype: float64

In [84]:
series_dataset.replace([10,20],[100,200])

0    100
1    200
2     30
3    200
4     50
5     40
6    100
dtype: int64

In [85]:
series_dataset.replace({30:350,40:450})

0     10
1     20
2    350
3     20
4     50
5    450
6     10
dtype: int64