In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

#READING FROM CSV FILES
#csv_df=pd.read_csv('file name')
#csv_df=pd.read_csv('file name',header=none) #assigns columns headers to csv files without headers

In [4]:
#USING THE READ TABLE FUNCTION
#csv_df=pd.read_table('file name',sep=',') #This is not restricted to comma seperated,
                                           #use headers=none if no column headings

In [5]:
#IMPORTING PARTIAL ROWS
#csv_df=pd.read_csv('file name',nrows=2) #This will import only 2 rows

In [3]:
#CREATING DATAFRAME WITH DICTIONARY
data_df=DataFrame({'cab':['uber','grab','lyft','ola'],'Revenue':[100,10,30,90,],'Loss':[1000,200,500,900]})
print(data_df)

    cab  Revenue  Loss
0  uber      100  1000
1  grab       10   200
2  lyft       30   500
3   ola       90   900

In [ ]:
#EXPORTING BACK TO CSV FILE
#data_df.to_csv('New CSV.csv',sep=',') #Note that you can also use ! in the sep

In [6]:
#EXPORTING SPECIFIC COLUMNS
#data_df.to_csv('New CSV2',columns=['Loss','cab'])
#Resource:Python csv

In [ ]:
#Writing csv Files
# data1={'name':['Alice','Bella','sara','Emily'],
#       'number':[18,20,22,24],
#       'score':[85,87,83,89]}

# df=DataFrame(data)

# df.to_csv('test2.csv',index=False) #It has been saved as csv file

# pd.read_csv('test2.csv') #We can now read it back

In [12]:
#READING HTML FILES
from pandas import read_html
url="https://countrycode.org/"
dataset1=pd.io.html.read_html(url)
print(dataset1)

#print(data_df.columns.values)

[               COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2  \
0          Afghanistan           93  AF / AFG    29121286    647500
1              Albania          355  AL / ALB     2986952     28748
2              Algeria          213  DZ / DZA    34586184   2381740
3       American Samoa        1-684  AS / ASM       57881       199
4              Andorra          376  AD / AND       84000       468
..                 ...          ...       ...         ...       ...
235  Wallis and Futuna          681  WF / WLF       16025       274
236     Western Sahara          212  EH / ESH      273008    266000
237              Yemen          967  YE / YEM    23495361    527970
238             Zambia          260  ZM / ZMB    13460305    752614
239           Zimbabwe          263  ZW / ZWE    11651858    390580

          GDP $USD
0    20.65 Billion
1     12.8 Billion
2    215.7 Billion
3    462.2 Million
4      4.8 Billion
..             ...
235            NaN
236            NaN
237  43.89 Billion
238  22.24 Billion
239  10.48 Billion

[240 rows x 6 columns],                COUNTRY COUNTRY CODE ISO CODES
0          Afghanistan           93  AF / AFG
1              Albania          355  AL / ALB
2              Algeria          213  DZ / DZA
3       American Samoa        1-684  AS / ASM
4              Andorra          376  AD / AND
..                 ...          ...       ...
235  Wallis and Futuna          681  WF / WLF
236     Western Sahara          212  EH / ESH
237              Yemen          967  YE / YEM
238             Zambia          260  ZM / ZMB
239           Zimbabwe          263  ZW / ZWE

[240 rows x 3 columns]]

In [13]:
data_df=dataset1[0]
print(data_df)

               COUNTRY COUNTRY CODE ISO CODES  POPULATION  AREA KM2  \
0          Afghanistan           93  AF / AFG    29121286    647500
1              Albania          355  AL / ALB     2986952     28748
2              Algeria          213  DZ / DZA    34586184   2381740
3       American Samoa        1-684  AS / ASM       57881       199
4              Andorra          376  AD / AND       84000       468
..                 ...          ...       ...         ...       ...
235  Wallis and Futuna          681  WF / WLF       16025       274
236     Western Sahara          212  EH / ESH      273008    266000
237              Yemen          967  YE / YEM    23495361    527970
238             Zambia          260  ZM / ZMB    13460305    752614
239           Zimbabwe          263  ZW / ZWE    11651858    390580

          GDP $USD
0    20.65 Billion
1     12.8 Billion
2    215.7 Billion
3    462.2 Million
4      4.8 Billion
..             ...
235            NaN
236            NaN
237  43.89 Billion
238  22.24 Billion
239  10.48 Billion

[240 rows x 6 columns]

In [14]:
data_df2=dataset1[1]
data_df2

               COUNTRY COUNTRY CODE ISO CODES
0          Afghanistan           93  AF / AFG
1              Albania          355  AL / ALB
2              Algeria          213  DZ / DZA
3       American Samoa        1-684  AS / ASM
4              Andorra          376  AD / AND
..                 ...          ...       ...
235  Wallis and Futuna          681  WF / WLF
236     Western Sahara          212  EH / ESH
237              Yemen          967  YE / YEM
238             Zambia          260  ZM / ZMB
239           Zimbabwe          263  ZW / ZWE

[240 rows x 3 columns]

In [16]:
print(data_df.columns.values)

['COUNTRY' 'COUNTRY CODE' 'ISO CODES' 'POPULATION' 'AREA KM2' 'GDP $USD']

In [17]:
print(data_df2.columns.values)

['COUNTRY' 'COUNTRY CODE' 'ISO CODES']

In [18]:
#READING AND WRITING EXCEL FILES
#Reading Excel Files
# data_excel=pd.read_excel('test.xlsx',sheetname='sheet1') #We can also use the sheet index

In [19]:
#Writing Excel files
# data2={'name':['Alice','Bella','sara','Emily'],
#       'number':[18,20,22,24],
#       'score':[85,87,83,89]}

# df_data=DataFrame(data)

# df_data.to_excel('test2.xlsx',sheet_name='NewSheet') #Write to Excel
# pd.read_excel('test2.xlsx',sheet_name='NewSheet')   #Read from Excel